/* Estilo para o corpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para o contêiner do título, logo e botão */
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2b4c7e;
    color: #fff;
  }

  /* Estilo para a logo */
  .logo img {
    max-width: 100px; 
    margin-right: 20px; 
  }

  /* Estilo para o título (h1) */
  h1 {
    flex-grow: 1; 
    font-size: 24px; /* Ajuste o tamanho do título conforme necessário */
    margin: 0;
    text-align: center; /* Centraliza o texto horizontalmente */
  }

  /* Estilo para o botão de login (button) */
  button {
    background-color: #567ebb; 
    border: none;
    font-size: 18px; 
    font-family: inherit; 
    cursor: pointer;
    padding: 10px 20px; 
    border-radius: 4px;
  }

  button a {
    color: #fff; 
    text-decoration: none; 
  }

  /* Estilo para o botão de login quando está ativo (clicado) */
  button:hover {
    background-color: #fff;
    color: #2b4c7e;
  }

  button:hover a {
    color: #2b4c7e;
  }


  /* Estilo para o main */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo para as seções (h2) */
  section h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #2b4c7e;
  }

  /* Estilo para as seções (h3) */
  section h3 {
    /*font-size: 24px;*/
    margin: 20px 0;
    color: #567ebb;
  }
  
  /* Estilo para os parágrafos nas seções (p) */
  section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #1f1f20;
  }
  
  /* Estilo para o formulário de contato */
  .formulario-contato {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #1f1f20;
  }
  
  .formulario-contato p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #1f1f20;
  }
  
  .formulario-contato label {
    display: block;
    margin-bottom: 8px;
    color: #1f1f20;
  }
  
  .formulario-contato input[type="text"],
  .formulario-contato input[type="email"],
  .formulario-contato textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .formulario-contato button[type="submit"] {
    background-color: #2b4c7e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Estilo para o botão de enviar quando hover (mouse em cima) */
  .formulario-contato button[type="submit"]:hover {
    background-color: #567ebb;
  }

  
  /* Estilo para o rodapé (footer) */
  footer {
    text-align: center;
    background-color: #2b4c7e;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
 

  @media screen and (max-width: 600px) {
    main {
        max-width: 100%;
        padding: 10px;
    }

    nav ul {
        flex-direction: column; /* Coloca os itens em coluna em telas menores */
        align-items: center; /* Centraliza os itens na vertical */
      }
      
      button {
        width: 100%; /* Ocupa a largura total em telas menores */
      }
  }
